/*-COLOR-VARIABLES-(http://www.colourlovers.com/palette/1794043/speakeasy_chanteuse)-*/

$weathervane: #1B1B1F; 
$chocolate: #4F2D2D; 
$ladybug-light: #801C1C; 
$ladybug-dark: #B30C0C; 
$pencil: #D6AA0B;
$user-border: #262626;

/*---------------MAIN-----------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font:
inherit; list-style-type:none; } 

/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html,body { width:100%; height:100%; }

body { position:relative; margin: 0px; font-family:Helvetica, sans-serif; line-height: 1; background-color: rgb(227, 242, 231); background: -webkit-gradient(linear, left, top, left
bottom, from(rgb(227,242,231)), to(rgb(227, 242, 231))) ; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1 { font-size:20pt; }
h2 { font-size:15pt; }
h3 { font-size:14pt; }
h4 { font-size:12pt; }
h5 { font-size: 9pt; font-face:bold; margin:0; padding-top:7px; }

a { text-decoration: none; outline: none; }

.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

.italics { font-style: italic; }

/*--------HEADER/FOOTER--------*/

#header, #footer { width:100%; }

#header { position: absolute; height: 70px; background: $weathervane url(http://www.hungryacademy.com/images/noise.png) repeat top left; bottom:0px; left:0px; right:0px; top:0px;
z-index: 100; }

#logo { padding: 8px 0 0 25px; 
  a { color: $pencil; 
  } 
}

@font-face { font-family: 'SF Speakeasy'; src: url('SFSpeakeasy.ttf'); }

h1#logo { font-family:"SF Speakeasy", Helvetica, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif; font-size:44pt; color: #1C031E; }

/*--------USERNAV/SEARCH--------*/

#search {
  position:absolute;
  left:350px;
  top:26px;
  
  li {
    float: left;
  }
}

#usernav {
  position:absolute;
  right:25px;
  top:22px;
  
  li { float: left; float:left; margin-right:25px; background-color: $weathervane;

    li { float:none; border-bottom:1px solid $user-border; width:105%; font-size: 14px;

      a { border:0; border-left:1px solid $user-border; border-right: 1px solid $user-border; }
    }

    &:hover ul { display:block; z-index:100; right: 28px; top: 28px }

    a { display:block; padding:0.5em; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);

      &:hover { background-color: $ladybug-dark; text-decoration:none; }

    }

    ul { display:none; padding:0; position:absolute; width:80px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0em;
    font-size: 9pt;
    font-weight: bold;
    float: left;
    position: relative;
  }
}

/*-------------USERNAV-DROPDOWN--------------*/


#usernav li#parent {
    background-color: $weathervane;
    font-size: 14px;
    padding: 0.5em;
    color: #fff;
}

#usernav li#parent:hover { cursor: pointer; background-color: $ladybug-dark; border-top-right-radius:5px 5px; border-top-left-radius:5px 5px; -moz-border-top-left-radius:5px 5px; -moz-border-top-right-radius:5px 5px; -webkit-border-top-left-radius:5px 5px; -webkit-border-top-right-radius:5px 5px; }

#usernav li#parent > a {
    border-top-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    border-top:1px solid #E3F2E7;
    border-right: 1px solid #E3F2E7;
    border-left:1px solid #E3F2E7;
    border-bottom: 1px solid transparent;
}

#usernav li#parent:hover > a {
    background-color: $ladybug-dark;
    border-color: $user-border;
    border-bottom-color: transparent;
}

#usernav li#parent > a:hover {
    background-color: $ladybug-dark;
    border-top:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom: 1px solid transparent;
    border-left:1px solid $user-border;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
}

#usernav li#parent:hover ul {
    padding:0px;
    z-index:350;
}

#usernav #children li:hover {
    background-color: $weathervane;
}

#usernav #children li:hover a {
    color:#fff;
}

#usernav ul#children li:first-child {
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-top:1px solid $user-border;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom:1px solid $user-border;
    border-top:1px solid $user-border;
}

#usernav ul#children li:first-child:hover {
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-top:1px solid $user-border;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child:hover {
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom:1px solid $user-border;
    border-top:1px solid $user-border;
}

#usernav ul#children li:first-child a:hover {
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
}

#usernav ul#children li:last-child a:hover {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
}

/*---------CONTAINER-----------*/

.header { padding: 20px 0; }

.new { height: 100px; background:#EEE; position:absolute; bottom:0px; left:0px; right:0px; -webkit-box-shadow: rgba(0, 0, 0, 0.549219) 0px .5px 10px; -moz-box-shadow: rgba(0, 0,
0, 0.249219) 0px .5px 10px; -o-box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px; box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px;

 textarea { position:absolute; top:25px; bottom:25px; left:20px; right:180px; resize: none; padding: 10px; font-size: 16px; -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px
8px -8px #696868; -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;

 &:focus { border-color:rgba(35,146,231,0.8); outline:0; outline:thin dotted \9; -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important;
-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; 
    } 
  }
}

.new input[type="submit"] { position:absolute; top:25px; bottom:50px; right:45px; width:100px; }

.new { padding:10px; }

#messages { position: absolute; top:0; bottom:0; left:240px; right:235px; background: #F8F8F8 url("https://www.simple.com/img/bg_pixel_texture.gif") repeat;

  #stuff { overflow:auto; position: absolute; top: 0; bottom: 120px; left: 0; right: 0;

    ul.items li.item { padding: 10px 20px; border-bottom: 1px solid #fff;
  
      &:last-child { border-bottom: 0px solid #fff; }
    }
  }
}

#messages li.item span.username { font-weight:bold; }
#messages li.item span.body { margin-right: 20px; }


.lobby, .room-info { padding: 0 20px; }

.chat-room { position: absolute; top:69px; left:0; right:0; bottom:0px; }

.room-info { position: absolute; top:0; bottom:0; width:200px; right:0; background: $chocolate url("http://www.hungryacademy.com/images/noise.png") repeat top left; overflow:auto;

 ul { text-align:right; } }

.lobby { position: absolute; top:0; bottom:0; width:200px; left:0; background: $chocolate url("http://www.hungryacademy.com/images/noise.png") repeat top left; overflow:auto; }

#new_room h3 { padding: 20px 0 10px 0; }

#rooms li { list-style-type: none; padding: 5px 0;
    a { padding: 5px; display:block;
      &.current { background-color: $ladybug-dark; color: #fff; box-shadow: inset 0 1px 1px $chocolate; -moz-box-shadow: inset 0 1px 1px $chocolate; -webkit-box-shadow: inset 0 1px 1px $chocolate;
        &:hover { background-color: $ladybug-dark; color: #fff; box-shadow: inset 0 1px 1px $chocolate; -moz-box-shadow: inset 0 1px 1px $chocolate; -webkit-box-shadow: inset 0 1px 1px $chocolate; cursor: pointer; }
      }      
    &:hover { background-color: $chocolate; color: #fff; box-shadow: 0 0px 2px $weathervane; -moz-box-shadow: 0 0px 2px $weathervane; -webkit-box-shadow: 0px 1px 2px 1px $weathervane; cursor: pointer; }
    }
  }
  a { color: #fff; }

.container { position:absolute; top:0; bottom:0; left:0; right:0; border:1px solid #333; }

.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

* html .group { zoom: 1; } /* IE6 */

*:first-child+html .group { zoom: 1; } /* IE7 */

/*-------------BUTTON-----------*/

.btn { display: inline-block; *display: inline; padding: 4px 10px 4px; margin-bottom: 0; *margin-left: .3em; font-size: 18px; line-height: 18px; *line-height: 20px; color: #333333;
text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image:
-ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff,
#e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-image: -moz-linear-gradient(top, #ffffff,
#e6e6e6); background-repeat: repeat-x; border: 1px solid #cccccc; *border: 0; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-color: #e6e6e6 #e6e6e6
#bfbfbf; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter:
progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); *zoom: 1;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

 &:hover { 
  background-color: #e6e6e6; *background-color: #d9d9d9; 
  }

 &:active {
  background-color: #e6e6e6; *background-color: #d9d9d9; background-color: #cccccc \9; } &:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; 
  }
}

.btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; *background-color: #d9d9d9; }

.btn:first-child { *margin-left: 0; }

.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; *background-color: #d9d9d9; /* Buttons in IE7 don't get borders, so darken on hover */

 background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }

.btn.active, .btn:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px
2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0,
0.05); }

.btn-primary { background-color: #0074cc; *background-color: #0055cc; background-image: -ms-linear-gradient(top, #0088cc, #0055cc); background-image: -webkit-gradient(linear, 0 0, 0
100%, from(#0088cc), to(#0055cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0055cc); background-image: -o-linear-gradient(top, #0088cc, #0055cc); background-image:
-moz-linear-gradient(top, #0088cc, #0055cc); background-image: linear-gradient(top, #0088cc, #0055cc); background-repeat: repeat-x; border-color: #0055cc #0055cc #003580; border-color:
rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0); filter:
progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { background-color: #0055cc; *background-color: #004ab3; }

.btn-primary:active, .btn-primary.active { background-color: #004099 \9; }

.btn-primary, .btn-primary:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); font-size: 18px; }