/*-COLOR-VARIABLES-(http://www.colourlovers.com/palette/1794043/speakeasy_chanteuse)-*/

$weathervane: #1B1B1F;
$chocolate: #4F2D2D; 
$ladybug-light: #801C1C; 
$ladybug-dark: #B30C0C; 
$pencil: #D6AA0B;
$user-border: #262626;
$light-gray: #737373;

/*---------------MAIN-----------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font:
inherit; list-style-type:none; } 

/* HTML5 display-role reset for older browsers */ 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html,body { width:100%; height:100%; }

body { position:relative; margin: 0px; font-family:Helvetica, sans-serif; line-height: 1; background-color: rgb(227, 242, 231); background: -webkit-gradient(linear, left, top, left
bottom, from(rgb(227,242,231)), to(rgb(227, 242, 231))) ; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1 { font-size:20pt; }
h2 { font-size:15pt; }
h3 { font-size:14pt; }
h4 { font-size:12pt; }
h5 { font-size: 10pt; }

a { text-decoration: none; outline: none; }

.clearfix:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; }

.italics { font-style: italic; }

/*--------HEADER/FOOTER--------*/

#header, #footer { width:100%; }

#header { position: absolute; height: 70px; background: $weathervane url(http://www.hungryacademy.com/images/noise.png) repeat top left; bottom:0px; left:0px; right:0px; top:0px;
z-index: 100; background: -webkit-gradient(linear, 0% 100%, 0% 0%, from($weathervane), to(#323239)); }

/*#logo { padding: 8px 0 0 25px; 
  a { text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; color: #000; opacity: 0.3; 
    &:hover { color: $pencil; text-shadow: 0 0 0 $pencil, 0 0 0 $pencil; opacity: 1; }
  } 
}*/

#logo { position: absolute; overflow:hidden; padding: 0; width: 400px; height: 58px; left:25px;
  a { padding-top: 58px; background-size: 308px 400px; background: url("speakeasy.png") no-repeat left top; position: absolute; height: 0; width: 400px; 
    &:hover { background-size: 308px 400px; background: url("speakeasy.png") no-repeat left top; position: absolute; height: 0; width: 400px; }
  }
}

/*--------USERNAV/SEARCH--------*/

#search {
  position:absolute;
  left:350px;
  top:26px;
  
  li {
    float: left;
  }
}

#usernav {
  position:absolute;
  right:45px;
  top:22px;
  
  li { float: left; margin-right:25px; background-color: $weathervane;

    li { float:none; border-bottom:1px solid $user-border; width:105%; font-size: 14px;

      a { border:0; border-left:1px solid $user-border; border-right: 1px solid $user-border; }
    }

    &:hover ul { display:block; z-index:100; right: 28px; top: 28px }

    a { display:block; padding:0.5em; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85); color: #fff;

      &:hover { background-color: $light-gray; text-decoration:none; }

    }

    ul { /*position: absolute; top: 100%; left: 0; right: 100px; z-index: 1000; display: none; float: left; min-width: 80px; padding: 4px 0; margin: 1px 0 0; list-style: none; background-color: #ffffff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;*/ 
      display:none; padding:0; position:absolute; width:80px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0em;
    font-size: 9pt;
    font-weight: bold;
    float: left;
    position: relative;
  }
}

/*-------------USERNAV-DROPDOWN--------------*/


#usernav li#parent {
    background-color: transparent;
    font-size: 14px;
    padding: 0.5em;
    color: #ccc;
}

#usernav li#parent:hover { color: #fff; cursor: pointer; background-color: $weathervane; border-top-right-radius:5px 5px; border-top-left-radius:5px 5px; -moz-border-top-left-radius:5px 5px; -moz-border-top-right-radius:5px 5px; -webkit-border-top-left-radius:5px 5px; -webkit-border-top-right-radius:5px 5px; }

#usernav li#parent > a {
    border-top-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    border-top:1px solid #E3F2E7;
    border-right: 1px solid #E3F2E7;
    border-left:1px solid #E3F2E7;
    border-bottom: 1px solid transparent;
}

#usernav li#parent:hover > a {
    background-color: $light-gray;
    border-color: $user-border;
    border-bottom-color: transparent;
}

#usernav li#parent > a:hover {
    background-color: $light-gray;
    border-top:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom: 1px solid transparent;
    border-left:1px solid $user-border;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
}

#usernav li#parent:hover ul {
    padding:0px;
    z-index:350;
}

#usernav #children li:hover {
    background-color: $weathervane;
}

#usernav #children li:hover a {
    color:#fff;
}

#usernav ul#children li:first-child {
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-top:1px solid $user-border;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom:1px solid $user-border;
    border-top:1px solid $user-border;
}

#usernav ul#children li:first-child:hover {
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-top:1px solid $user-border;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child:hover {
    border-left:1px solid $user-border;
    border-right:1px solid $user-border;
    border-bottom:1px solid $user-border;
    border-top:1px solid $user-border;
}

#usernav ul#children li:first-child a:hover {
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
}

#usernav ul#children li:last-child a:hover {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
}

/*-------------HOME------------*/

.home-image { background:#EEE; }
  /*background: url("http://theworldsmostexclusivewebsite.com/img/eml18a.jpg");*/

#signin_form, #signup_form { position: relative; top: 30px; z-index: 100;
  label { color: #fff; }
  input[type="text"], input[type="password"] { padding: 5px; width: 275px; font-size: 14px; margin: 3px 0; -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; 
    
    &:focus { border-color:rgba(35,146,231,0.8); outline:0; outline:thin dotted \9; -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important;
              -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; 
            }
  }
  a { margin-left: 10px; color: #949494; font-size: 13px; font-weight: 600; }
  input[type="submit"] { margin: 4px 0; }
  p.validation { display: inline; font-size: 13px; margin-left: 5px; font-style:italic; }
}

#top { height: 522px; color: #F2F2F2; }

.normal { background: url("background.png") right; }
.spotlight { background: url("background-spotlight.png") right; }

#bottom { position: relative; width: 900px; margin: 0 auto; padding-top: 15px; 
  ul { float: left;
    li { color: #949494; float: left; padding-right: 13px; font-size: 12px; 
      a { color: #949494; font-weight: 600;
        &:hover { color: #3484DF; }
      }
    }
  }
}

#intro { position: relative; width: 900px; margin: 0 auto; top: 120px;
  h1 { position: relative; padding-bottom: 20px; background-size: 400px 518px; background: url("speakeasy.png") no-repeat left top; left: -15px; height: 60px; width: 400px; }
  p { margin-top: 20px; }
  div { position: relative; }
  img#chad { position: absolute; top: 6px; right: 78px; width: 80px; z-index: 0; }
  #door { right: 0px; top: -60px; position:absolute; height: 463px; width: 236px; background: url("door.png") 50% 50%; overflow: hide; z-index: 100;
    img#door_panel { position: relative; top: 85px; left: 73px; width: 88px; z-index: 50; }
  }
  #buttons { top: 80px;
    a:first-child { margin-right: 10px; }
  }
}

/*---------CONTAINER-----------*/

.container { position:absolute; top:0; bottom:0; left:0; right:0; border:1px solid #333; }

/*----------LOBBY--------------*/

.lobby { padding: 0 15px; }

.header { padding: 20px 0 10px;
  h1 {color: #ccc; text-shadow: 0px 2px 3px #4E4E4E; font-weight: 600; }
  h4 { margin-bottom: 5px; color: #878797; text-transform: uppercase; text-shadow: 0px 2px 3px #4E4E4E; font-weight: 600; font-size: 15px; }
}

.github h4 { 
  &:after { margin-left: 8px; vertical-align: -2px; content: url("http://www.maxcutler.com/wp-content/themes/pixelpower/images/social_icons/octocat.png"); }
}

.new { height: 80px; background:#EEE; position:absolute; bottom:0px; left:0px; right:0px; -webkit-box-shadow: rgba(0, 0, 0, 0.549219) 0px .5px 10px; -moz-box-shadow: rgba(0, 0,
0, 0.249219) 0px .5px 10px; -o-box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px; box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px;

 textarea { position:absolute; top:15px; bottom:15px; left:18px; right:110px; resize: none; padding: 10px; font-size: 16px; -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px
8px -8px #696868; -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;

 &:focus { border-color:rgba(35,146,231,0.8); outline:0; outline:thin dotted \9; -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important;
-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; 
    } 
  }
}

/*----------CHATS--------------*/

.chat-room { position: absolute; top:69px; left:0; right:0; bottom:0px; }

.new input[type="submit"] { position:absolute; top:15px; bottom:50px; right:20px; width:75px; font-size: 16px; }

.new { padding:10px 20px; }

/*http://dribbble.s3.amazonaws.com/users/1521/screenshots/338082/attachments/15648/wood.png*/

#messages { position: absolute; top:0; bottom:0; left:215px; right:315px; background: url("wood-bright.png") repeat;

  #stuff { overflow:auto; position: absolute; top: 0; bottom: 100px; left: 0; right: 0; }
  ul { border-top-right-radius:3px 3px; border-top-left-radius:3px 3px; border-bottom-left-radius: 3px 3px; border-bottom-right-radius: 3px 3px; -moz-border-radius-topleft:3px 3px; -moz-border-radius-topright:3px 3px; -moz-border-radius-bottomright: 3px 3px; -moz-border-radius-bottomleft: 3px 3px; -moz-box-shadow: 0 0 5px 1px $weathervane; -webkit-box-shadow: 0 0 5px 1px $weathervane; box-shadow: 0 0 5px 1px $weathervane; 
    &#alert { position: absolute; margin: 10px 20px; top: -30px; z-index: 1; left: 0; right: 0; display: none; }
    &#welcome { margin: 20px 20px 20px; background: #FCF8E3 url("https://www.simple.com/img/bg_pixel_texture.gif") repeat; display: none;
      li { padding: 10px 15px; 
        h3 { margin-bottom: 5px; color: $weathervane; }
        p { font-size: 15px; }
      }
    }
    &.items { margin: 20px 20px 20px; background: #F8F8F8 url("https://www.simple.com/img/bg_pixel_texture.gif") repeat; 
      li.item { padding: 10px 15px; border-bottom: 1px solid #E4E4E4; font-size: 15px;
        &:first-child { border-radius: 3px 3px; }
        &:last-child { border-bottom: 0px solid #E4E4E4; border-radius: 3px 3px; }
        &.current { background: rgba(220, 231, 244, 0.4); }
      }
    }
  }
}

#messages li.item { height: auto;
  div { float: left; }
  &:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
  span.author { margin-right: 10px; text-align: right; width: 75px; display: inline-block; }
  div.author-image { margin-right: 10px; text-align: right; width: 35px; display: inline-block; 
    img { width: 35px; height: 35px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid $weathervane; }
  }
  div.author-body { text-align: left; display: inline-block; width: 93%;
    div { width: 100%; display: inline-block; }
    div.author-name { text-align: left; color: #969696; font-size: 15px; font-weight: 600; padding-bottom: 5px; }
  }
  div.body { margin-right: 20px; display: inline-block; text-align: left; font-size: 15px; word-wrap: break-word; }
}

/*-----------ROOMS------------*/

.lobby { position: absolute; top:0; bottom:0; width:185px; left:0; background: url("http://www.hungryacademy.com/images/noise.png") repeat top left; overflow:auto; background: -webkit-gradient(linear, 100% 100%, 100% 0%, from($weathervane), to(#26262C));
  #existing_rooms { overflow:auto; position: absolute; top: 0; bottom: 120px; left: 0; right: 0; padding: 15px; }
  #new_room { padding: 10px 15px; height: 80px; position:absolute; bottom:0px; left:0px; right:0px; -webkit-box-shadow: rgba(0, 0, 0, 0.549219) 0px .5px 10px; -moz-box-shadow: rgba(0, 0,
  0, 0.249219) 0px .5px 10px; -o-box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px; box-shadow: rgba(0, 0, 0, 0.449219) 0px .5px 10px; }
}

#new_room {
  h3 { padding: 20px 0 10px 0; }
  a { padding: 0px 4px 4px; }
}

#rooms { width: 220px; margin: 0 -20px;
  li { list-style-type: none; padding: 1px 0;
    a { padding: 7px 20px; display:block; text-shadow: 0px 1px 1px #000; font-size: 14px;
      &.current { background: url("http://www.hungryacademy.com/images/noise.png") repeat top left, -webkit-linear-gradient(#3770B4, #2663AC, #175396); color: #fff; box-shadow: inset 0 1px 1px $chocolate; -moz-box-shadow: inset 0 1px 1px $chocolate; -webkit-box-shadow: inset 0 1px 1px $chocolate; box-shadow: 0 4px 2px -2px $weathervane; -moz-box-shadow: 0 4px 2px -2px $weathervane; -webkit-box-shadow: 0 3px 2px -2px $weathervane;
        &:hover { color: #fff; cursor: pointer; }
      }      
    &:hover { cursor: pointer; } /* background-color: $chocolate; color: #fff; box-shadow: 0 0px 2px $weathervane; -moz-box-shadow: 0 0px 2px $weathervane; -webkit-box-shadow: 0px 1px 2px 1px $weathervane; }*/
    }
  }
  a { color: #fff; }
}

/*-----------ROOM-INFO----------*/

#room-info {
  h4#proprietor { padding: 20px 0 5px; }
}

.right-nav { padding: 0 15px; }

.right-nav { position: absolute; top:0; bottom:0; width:285px; right:0; background: url("http://www.hungryacademy.com/images/noise.png") repeat top left; overflow:auto; background: -webkit-gradient(linear, 100% 100%, 100% 0%, from($weathervane), to(#26262C));
  #room_name { padding: 10px 0; color: #ccc; font-size: 26px; }
  #room_description q { color: #ccc; }
  #data { margin: 10px 0;
    .header { box-shadow: 0px 5px 7px -7px #333; }
    .search { height: 50px; }
    .github, .users { height: 100px; overflow-y: auto; }
    ul { 
      li { text-align: left; list-style-type:none; padding: 2px 0; color: #fff; font-size: 15px; }
    }    
  }
}

.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

* html .group { zoom: 1; } /* IE6 */

*:first-child+html .group { zoom: 1; } /* IE7 */

/*------------MODAL-------------*/

#editRoom { display: none; }

#invite { display: none; }

#createRoom { display: none; }

.modal-header h3 { display: inline-block; 
  &:first-child { width: 230px; margin-left: 50px; }
}

.modal-body { 
  div { float: left; }
  #edit_room_form, #invite_users { width: 250px;
    label { font-size: 11px; float: right; font-weight: 600; }
    input { padding: 5px 3px; font-size: 12px; margin: 3px 0 3px 5px; 
      &[type="text"] { -moz-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; -webkit-box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; }

      &:focus { border-color:rgba(35,146,231,0.8); outline:0; outline:thin dotted \9; -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important;
      -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6) !important; }
    }
  }
  #edit_room_form input { 
    &[type="text"] { width: 130px; }
    &[type="submit"] { width: 140px; }
  }

  #invite_users {
    h5 { font-weight:bold; margin:2px 0px 5px 4px; }
    ul { margin-left: 4px; height: 100px; overflow-y: scroll; width: 240px;
      li { font-size: 13px; margin: 3px 0; }
    }
    input { 
      &[type="email"] { width: 195px !important; }
      &[type="submit"] { width: 35px !important; }
    }
  }

  #empty { height: 175px; margin: 0 14px; border-left: 1px dotted #eee; }
}

.modal-footer a { padding: 5px 13px; min-width: 35px; font-size: 12px; margin: 3px 0 3px 5px; }

/*-------------BUTTON-----------*/

.btn { display: inline-block; *display: inline; padding: 4px 10px 4px; margin-bottom: 0; *margin-left: .3em; font-size: 18px; line-height: 18px; *line-height: 20px; color: #333333;
text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image:
-ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff,
#e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-image: -moz-linear-gradient(top, #ffffff,
#e6e6e6); background-repeat: repeat-x; border: 1px solid #cccccc; *border: 0; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-color: #e6e6e6 #e6e6e6
#bfbfbf; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter:
progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); *zoom: 1;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

 &:hover { 
  background-color: #e6e6e6; *background-color: #d9d9d9; 
  }

 &:active {
  background-color: #e6e6e6; *background-color: #d9d9d9; background-color: #cccccc \9; } &:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; 
  }
}

.btn-large { padding: 8px 14px 8px; }

.btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; *background-color: #d9d9d9; }

.btn:first-child { *margin-left: 0; }

.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; *background-color: #d9d9d9; /* Buttons in IE7 don't get borders, so darken on hover */

 background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }

.btn.active, .btn:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px
2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0,
0.05); }

.btn-primary { background-color: #0074cc; *background-color: #0055cc; background-image: -ms-linear-gradient(top, #0088cc, #0055cc); background-image: -webkit-gradient(linear, 0 0, 0
100%, from(#0088cc), to(#0055cc)); background-image: -webkit-linear-gradient(top, #0088cc, #0055cc); background-image: -o-linear-gradient(top, #0088cc, #0055cc); background-image:
-moz-linear-gradient(top, #0088cc, #0055cc); background-image: linear-gradient(top, #0088cc, #0055cc); background-repeat: repeat-x; border-color: #0055cc #0055cc #003580; border-color:
rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0); filter:
progid:dximagetransform.microsoft.gradient(enabled=false); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { background-color: #0055cc; *background-color: #004ab3; }

.btn-primary:active, .btn-primary.active { background-color: #004099 \9; }

.btn-primary, .btn-primary:hover { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); font-size: 18px; }