<span id="created_messages">
  <%= pluralize(@total_messages, "Message") %>
  <%= pluralize(@total_rooms, "Room") %>
</span>

<!-- <div id="created_messages_chart" style="width: 560px; height: 300px;"></div> -->


<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
      chart: { renderTo: 'created_messages_chart' },
      title: { text: 'Messages by day' },
      xAxis: { type: 'datetime' },
      yAxis: { text: 'Messages' },
      series: [{ data: [1,2,3,4,2,1] }]
    });
  });
</script>
